.toggle-button {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 3.5rem;
    border-radius: 24px;
    background-color: var(--background-7-transparent);
    transition: background 0.5s, border 0.15s;
    border: transparent;
}

.toggle-button-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1000px;
    background-color: var(--background-8);
    transition: background 0.5s, border 0.15s;
}

.toggle-button:hover {
    background-color: var(--background-8-transparent);
}

.toggle-button:active {
    background-color: var(--background-10-transparent);
}

.toggle-button:hover .toggle-button-thumb {
    background-color: var(--background-9);
}

.toggle-button:active .toggle-button-thumb {
    background-color: var(--background-10);
}