.toggle-button {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 3.5rem;
    border-radius: 24px;
    background-color: var(--background-2-transparent);
    border: 1px solid var(--background-3-transparent);
    transition: background 0.5s, border 0.15s;
}

.toggle-button-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1000px;
    background-color: var(--background-4-transparent);
    transition: background 0.5s, border 0.15s;
}

.toggle-button:hover {
    border: 1px solid var(--background-4-transparent);
}

.toggle-button:active {
    background-color: var(--background-3-transparent);
    transition: 0.15s;
}

.toggle-button:active .toggle-button-thumb {
    background-color: var(--background-6-transparent);
}

/* states */
.toggle-button-toggled {
    background-color: var(--background-3-transparent);
}

.toggle-button-toggled .toggle-button-thumb {
    background-color: var(--background-5-transparent);
}