.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    background-color: var(--background);
    border-radius: 12px;
    min-width: 32px;
    min-height: 32px;
    border: transparent;
    transition: 0.15s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--background-3);
}

.button:active {
    background-color: var(--background-5);
}

/* button states */
.button-disabled {
    pointer-events: none;
    opacity: 0.3;
}