.button {
    display: grid;
    place-items: center;
    gap: 0.25rem;

    background-color: var(--background);
    outline: 1px solid var(--background-3);
    border-radius: 12px;
    min-width: 32px;
    min-height: 32px;
    border: transparent;
    transition: 0.15s;
}

.button:hover {
    background-color: var(--background-3);
}

.button:active {
    background-color: var(--background-5);
}