.file-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

/* list */
.file-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}

/* element */
.file-list-element {
    display: grid;
    grid-template-columns: 25% 1fr auto;
    align-items: center;
    gap: 1rem;
    min-height: 4rem;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    background-color: var(--background-2);
    position: relative;
    outline: 2px solid transparent;
    overflow: hidden;
    transition: 0.3s ease;
    border: 1px solid var(--background-3);
}

.file-list-element:hover {
    transform: scale(1.025);
}

.file-list-element > * {
    z-index: 1;
}

.file-list-element span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--upload-text);
}

.file-list-element:nth-child(even) {
    background-color: var(--background);
}

.file-list-element button {
    border: 1px solid var(--background-5);
}

/* progress bar */
.file-list-element-progress {
    position: absolute;
    background: linear-gradient(
        193deg,
        var(--upload-progress),
        var(--upload-progress-2)
    );
    transform-origin: left;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    transition: 1s ease;
}

/* list element item states */
@keyframes uploading {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(2);
    }
}

.file-list-element-uploading {
    animation: 0.5s infinite uploading alternate;
}

.file-list-element-has-uploaded {
    outline-color: hsl(240, 30%, 40%);
}

.file-list-element-error {
    outline-color: #f00 !important;
}
