.file-upload-menu {
    display: flex;
    width: 100%;
    max-width: 500px;
    gap: 1rem;
}

@media (max-width: 640px) {
    .file-upload-menu {
        gap: 0.5rem;
        flex-direction: column;
    }
}

.file-upload-menu button,
.file-upload-menu label {
    border: 1px solid var(--background-3);
    width: 100%;
}

.file-upload-menu li {
    flex: 1;
}

@media (max-width: 640px) {
    .file-upload-menu button,
    .file-upload-menu label {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
}
