/* container & media queries */
.bento-selected-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    position: fixed;
    inset: 0;
    z-index: 101;
    pointer-events: none;
}

@media (max-width: 768px) {
    .bento-selected-container {
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .bento-selected-container {
        padding: 0.5rem;
    }
}

/* first card */
.bento-selected-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-height: 400px;

    background-color: var(--background);
    border: 2px solid var(--background-3);
    border-radius: 16px;
    pointer-events: all;
}

@media (max-width: 768px) {
    .bento-selected-card {
        max-width: 400px;
        min-height: 200px;
    }
}

/* second card */
.bento-selected-card-content {
    max-width: 600px;
    min-height: 400px;
}

/* card parts (works for both) */
.bento-selected-card-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--background-3);
}

.bento-selected-card-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 1rem;
}
