header {
    position: fixed;
    width: 100%;
    margin: 1rem auto;
    left: 50%;
    z-index: 2;
}

nav {
    display: flex;
    height: 3.5rem;
    padding: 0 1rem;
    gap: 0.5rem;
    align-items: center;

    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: linear-gradient(
        246deg,
        var(--background-3-transparent),
        var(--background-6-transparent)
    );
    transition: 0.15s all ease;
}

header:hover nav {
    background: linear-gradient(
        200deg,
        var(--background-3-transparent),
        var(--background-7-transparent)
    );
}
