.loading-container {
    position: fixed;
    display: flex;
    z-index: 10;
}

.loading-chunk {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loading-element {
    width: 75%;
    height: 75%;
    border-radius: 4vw;
    backdrop-filter: blur(64px);
    background-color: var(--background-2-transparent);
}
