.loading-container {
    position: fixed;
    display: flex;
    z-index: 50;
}

.loading-chunk {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loading-element {
    width: 75%;
    height: 75%;
    border-radius: 4vw;
    backdrop-filter: blur(64px);
    background-color: var(--background-3-transparent);
}

.loading-background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(16px);
    z-index: 49;
    pointer-events: none;
}
