.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    text-decoration: none;
}

.link-button:hover,
.link-button:active {
    color: var(--foreground-last);
}