.intro-container {
    display: grid;
    gap: 1rem;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    transition: 0.3s all ease-in-out;
    min-height: 300px;
}

.intro-section {
    margin-top: 12rem;
}

@media (max-width: 640px) {
    .intro-section {
        margin-top: 8rem;
    }
}

.intro-container:hover {
    transform: scale(1.025);
}
