/* global variables */
:root {
    /* font sizes */
    --font-h1: 3rem;
    --font-h2: 2rem;
    --font-h3: 1.25rem;
    --font-h4: 0.9rem;
    --font-p: 0.75rem;

    /* background */
    --background: #000;
    --background-2: hsl(0, 0%, 5%);
    --background-3: hsl(0, 0%, 10%);
    --background-4: hsl(0, 0%, 15%);
    --background-5: hsl(0, 0%, 20%);
    --background-6: hsl(0, 0%, 25%);
    --background-7: hsl(0, 0%, 30%);
    --background-8: hsl(0, 0%, 35%);
    --background-9: hsl(0, 0%, 40%);
    --background-10: hsl(0, 0%, 45%);

    /* transparent background */
    --background-transparent: hsla(0, 0%, 0%, 0.4);
    --background-2-transparent: hsla(0, 0%, 5%, 0.4);
    --background-3-transparent: hsla(0, 0%, 10%, 0.4);
    --background-4-transparent: hsla(0, 0%, 15%, 0.4);
    --background-5-transparent: hsla(0, 0%, 20%, 0.4);
    --background-6-transparent: hsla(0, 0%, 25%, 0.4);
    --background-7-transparent: hsla(0, 0%, 30%, 0.4);
    --background-8-transparent: hsla(0, 0%, 35%, 0.4);
    --background-9-transparent: hsla(0, 0%, 40%, 0.4);
    --background-10-transparent: hsla(0, 0%, 45%, 0.4);

    /* foreground */
    --foreground: #9aa0a8;
    --foreground-last: #fff;

    /* element-specific */
    --bold-brightness: 1.25;
}

:root[data-theme='light'] {
    /* background */
    --background: #fff;
    --background-transparent: rgba(246, 248, 252, 0.4);
    --background-transparent-2: hsla(220, 50%, 90%, 0.4);

    /* foreground */
    --foreground: #6e7a89;
    --foreground-last: #000;

    /* element-specific */
    --bold-brightness: 0.75;
}

/* global elements */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--foreground);
}

/* element-specific */
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

p,
span,
a,
button,
input,
textarea,
label {
    font-size: var(--font-p);
    color: var(--foreground);
    font-weight: 550;
    letter-spacing: -0.39px;
    line-height: 1em;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    color: var(--foreground-last);
    letter-spacing: -0.39px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

b,
i,
u,
mark {
    all: unset;
    pointer-events: none;
}

b {
    filter: brightness(var(--bold-brightness));
}

i {
    font-style: italic;
}

u {
    text-decoration: underline wavy;
    text-decoration-color: rgb(255, 56, 56);
    text-decoration-thickness: 1px;
}

mark {
    text-decoration: underline;
    text-decoration-color: rgb(56, 66, 255);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

small {
    opacity: 0.5;
    font-size: inherit;
}

/* utilities */
.page {
    display: grid;
    min-height: 100vh;
    width: 100%;
}

.section {
    display: grid;
    height: fit-content;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
    gap: 0.5rem;
    padding: 1rem;
}

@media (max-width: 640px) {
    .section {
        padding: 0.5rem;
    }
}
