/* global variables */
:root {
    /* font sizes */
    --font-h1: 3rem;
    --font-h2: 2rem;
    --font-h3: 1.25rem;
    --font-h4: 0.9rem;
    --font-p: 0.75rem;

    /* background */
    --background: #000;

    /* foreground */
    --foreground: #fff;
    --foreground-last: #fff;

    /* element-specific */
    --bold-brightness: 1.25;
}

:root[data-theme='light'] {
    /* background */
    --background: #fff;

    /* foreground */
    --foreground: #000;
    --foreground-last: #000;

    /* element-specific */
    --bold-brightness: 0.75;
}

/* global elements */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--foreground);
}

/* element-specific */
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

p,
span,
a,
button,
input,
textarea,
label {
    font-size: var(--font-p);
    color: var(--foreground);
    font-weight: 550;
    letter-spacing: -0.39px;
    line-height: 1em;
}

h1,
h2,
h3,
h4 {
    color: var(--foreground);
    letter-spacing: -0.39px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

b,
i,
u,
mark {
    all: unset;
    pointer-events: none;
}

b {
    filter: brightness(var(--bold-brightness));
}

i {
    font-style: italic;
}

u {
    text-decoration: underline wavy;
    text-decoration-color: rgb(255, 56, 56);
    text-decoration-thickness: 1px;
}

mark {
    text-decoration: underline;
    text-decoration-color: rgb(56, 66, 255);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

small {
    opacity: 0.5;
    font-size: inherit;
}

/* utilities */
.page {
    display: grid;
    min-height: 100vh;
    width: 100%;
}

.section {
    display: grid;
    height: fit-content;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
    gap: 0.5rem;
    padding: 1rem;
}

@media (max-width: 640px) {
    .section {
        padding: 0.5rem;
    }
}
