/* global variables */
:root {
    /* font sizes */
    --font-h1: 5rem;
    --font-h2: 4rem;
    --font-h3: 2rem;
    --font-h4: 1.25rem;
    --font-p: 0.9rem;

    /* background */
    --background: #000;
    --background-2: hsl(0, 0%, 5%);
    --background-3: hsl(0, 0%, 10%);
    --background-4: hsl(0, 0%, 15%);
    --background-5: hsl(0, 0%, 20%);
    --background-6: hsl(0, 0%, 25%);
    --background-7: hsl(0, 0%, 30%);
    --background-8: hsl(0, 0%, 35%);
    --background-9: hsl(0, 0%, 40%);
    --background-10: hsl(0, 0%, 45%);
    --background-11: hsl(0, 0%, 50%);
    --background-12: hsl(0, 0%, 55%);
    --background-13: hsl(0, 0%, 60%);
    --background-14: hsl(0, 0%, 65%);
    --background-15: hsl(0, 0%, 70%);

    /* transparent background */
    --background-transparent: hsla(0, 0%, 0%, 0.4);
    --background-2-transparent: hsla(0, 0%, 5%, 0.4);
    --background-3-transparent: hsla(0, 0%, 10%, 0.4);
    --background-4-transparent: hsla(0, 0%, 15%, 0.4);
    --background-5-transparent: hsla(0, 0%, 20%, 0.4);
    --background-6-transparent: hsla(0, 0%, 25%, 0.4);
    --background-7-transparent: hsla(0, 0%, 30%, 0.4);
    --background-8-transparent: hsla(0, 0%, 35%, 0.4);
    --background-9-transparent: hsla(0, 0%, 40%, 0.4);
    --background-10-transparent: hsla(0, 0%, 45%, 0.4);
    --background-11-transparent: hsla(0, 0%, 50%, 0.4);
    --background-12-transparent: hsla(0, 0%, 55%, 0.4);
    --background-13-transparent: hsla(0, 0%, 60%, 0.4);
    --background-14-transparent: hsla(0, 0%, 65%, 0.4);
    --background-15-transparent: hsla(0, 0%, 70%, 0.4);

    /* foreground */
    --foreground: hsl(214, 7%, 55%);
    --foreground-last: #fff;

    /* element-specific */
    --bold-brightness: 1.5;
    --background-orb-foreground: hsl(229, 100%, 80%);
    --background-orb-opacity: 0.3;
}

:root[data-theme='light'] {
    /* background */
    --background: #fff;
    --background-2: hsl(0, 0%, 95%);
    --background-3: hsl(0, 0%, 90%);
    --background-4: hsl(0, 0%, 85%);
    --background-5: hsl(0, 0%, 80%);
    --background-6: hsl(0, 0%, 75%);
    --background-7: hsl(0, 0%, 70%);
    --background-8: hsl(0, 0%, 65%);
    --background-9: hsl(0, 0%, 60%);
    --background-10: hsl(0, 0%, 55%);
    --background-11: hsl(0, 0%, 50%);
    --background-12: hsl(0, 0%, 45%);
    --background-13: hsl(0, 0%, 40%);
    --background-14: hsl(0, 0%, 35%);
    --background-15: hsl(0, 0%, 30%);

    /* transparent background */
    --background-transparent: hsla(0, 0%, 100%, 0.4);
    --background-2-transparent: hsla(0, 0%, 95%, 0.4);
    --background-3-transparent: hsla(0, 0%, 90%, 0.4);
    --background-4-transparent: hsla(0, 0%, 85%, 0.4);
    --background-5-transparent: hsla(0, 0%, 80%, 0.4);
    --background-6-transparent: hsla(0, 0%, 75%, 0.4);
    --background-7-transparent: hsla(0, 0%, 70%, 0.4);
    --background-8-transparent: hsla(0, 0%, 65%, 0.4);
    --background-9-transparent: hsla(0, 0%, 60%, 0.4);
    --background-10-transparent: hsla(0, 0%, 55%, 0.4);
    --background-11-transparent: hsla(0, 0%, 50%, 0.4);
    --background-12-transparent: hsla(0, 0%, 45%, 0.4);
    --background-13-transparent: hsla(0, 0%, 40%, 0.4);
    --background-14-transparent: hsla(0, 0%, 35%, 0.4);
    --background-15-transparent: hsla(0, 0%, 30%, 0.4);

    /* foreground */
    --foreground: hsl(213, 11%, 55%);
    --foreground-last: #000;

    /* element-specific */
    --bold-brightness: 0.65;
    --background-orb-foreground: #606060;
    --background-orb-opacity: 1;
}

/* global elements */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--foreground);
}

/* element-specific */
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

p,
span,
a,
button,
input,
textarea,
label {
    font-size: var(--font-p);
    color: var(--foreground);
    font-weight: 550;
    letter-spacing: -0.39px;
    line-height: 1em;
}

button {
    cursor: pointer;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

h1,
h2,
h3,
h4 {
    color: var(--foreground-last);
    letter-spacing: -0.39px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

b,
i,
u,
mark {
    all: unset;
    pointer-events: none;
}

b {
    filter: brightness(var(--bold-brightness));
}

i {
    font-style: italic;
}

u {
    text-decoration: underline wavy;
    text-decoration-color: rgb(255, 56, 56);
    text-decoration-thickness: 1px;
}

mark {
    text-decoration: underline;
    text-decoration-color: rgb(56, 66, 255);
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

small {
    opacity: 0.5;
    font-size: inherit;
}

/* utilities */
.page {
    display: grid;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.section {
    display: grid;
    height: fit-content;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
    gap: 0.5rem;
    padding: 0 1rem;
}

@media (max-width: 640px) {
    .section {
        padding: 0.5rem;
    }
}
