.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background-3);
    width: 100%;
    min-height: 250px;
    transition: border-radius 0.7s ease, padding 0.7s ease;
    position: relative;
}

.pricing-card > * {
    z-index: 1;
}

.pricing-card-bg {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 12rem;
    color: var(--background-4);
    z-index: 0;
    transition: 0.3s ease;
}

/* effects */
.pricing-card:hover {
    border-radius: 3rem;
    padding: 1.5rem;
}

.pricing-card:hover .pricing-card-bg {
    color: var(--background-6);
}

/* different cards */
.business-card-selection {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 2px solid var(--background-4);
    border-radius: 1rem;
    transition: 0.7s ease;
}

.pricing-card:hover .business-card-selection {
    left: -15%;
    top: -15%;
    right: -15%;
    bottom: -15%;
    border-radius: 4rem;
    outline-color: var(--backgrund-6);
}
