.pricing-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4%;
}

@media (max-width: 1024px) {
    .cards-container {
        gap: 2%;
    }
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        gap: 2rem;
        overflow-x: hidden;
    }
}