.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background-3);
    width: 100%;
    min-height: 250px;
    transition: border-radius 0.7s ease, padding 0.7s ease;
    position: relative;
}

@media (max-width: 768px) {
    .pricing-card {
        min-height: 300px;
    }
}

.pricing-card > * {
    z-index: 1;
}

.pricing-card-bg {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 12rem;
    color: var(--background-4);
    z-index: 0;
    transition: 0.3s ease;
    pointer-events: none;
    user-select: none;
}

/* effects */
.pricing-card:hover {
    border-radius: 3rem;
    padding: 1rem 2rem;
}

.pricing-card:hover .pricing-card-bg {
    color: var(--background-6);
}

/* different cards */
.business-card-selection {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 2px solid var(--background-4);
    border-radius: 1rem;
    transition: 0.7s ease;
    pointer-events: none;
}

.pricing-card:hover .business-card-selection {
    left: -15%;
    top: -15%;
    right: -15%;
    bottom: -15%;
    border-radius: 4rem;
    outline-color: var(--backgrund-6);
}

.pricing-card-action {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .pricing-card-action {
        flex-direction: column-reverse;
        text-align: center;
        gap: 0.7rem;
    }
}

.pricing-card-action-button {
    min-width: 72px;
}

@media (max-width: 768px) {
    .pricing-card-action-button {
        width: 100%;
    }
}
