.pricing-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
